<html>
    <head>
        <title>{{{title}}}</title>
        <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    </head>
    <body>
        <h1>User: {{{user}}}</h1>

        <h3>Change Password</h3>
        <form action="do_set_password" method="post" id=main_form>
            <p><input type="password" name="old_password" placeholder="Old Password" autofocus>
            <p><input type="password" name="new_password" placeholder="New Password">
            <p><input type="password" name="new_password2" placeholder="Confirm New Password">

            <p><input type="submit" value="Change">
        </form>
        <div style='height: 30px'></div>
        <form action="do_logout" method="post">
            <p><input type="submit" value="Log Out">
        </form>
        <script>
            $("#main_form").validate({
                "rules":
                {
                    "old_password": { "required": true },
                    "new_password": { "required": true },
                    "new_password2":
                    {
                        "required": true,
                        "equalTo": "#main_form input[name=new_password]"
                    }
                }
            });
        </script>
        <script>$(function() { Dist.toast.toast({{{toasts}}}); });</script>
    </body>
</html>
