<html
    <head>
        <title>{{{title}}}</title>
        <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.js"></script>
    </head>
    <body>
        <form action="do_login" method="post">
            <p><input type="text" name="user" placeholder="User Name" autofocus>

            <p><input type="password" name="password" placeholder="Password">

            <p><input type="submit" value="Login">
        </form>
        {{{toasts}}}
    </body>
</html>
