<html>
    <head>
        <title>{{{title}}} - Set admin account</title>
    </head>
    <body>
        <form action="do_set_admin" method="post">
            <p><input type="password" name="password" placeholder="Admin password">
            <p><input type="submit" value="Set Password">
        </form>
        <script>$(function() { Dist.toast.toast({{{toasts}}}); });</script>
    </body>
</html>
